@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--btnClr: #e91e60;
	--expandClr: #4b6ac1;
	--menuFontClr: #201e1f;
	--barClr: #4f69b0;
	--logo: #4a557a;
	--logoSec: #5b75c5;
	--cardShadow: .3rem .3rem 25px rgb(37, 150, 190, 0.3);
	--topFooter: #443785;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	user-select: none;
	

}

body {
	width: 100vw;
	background: #f4f4f4;
        
	
}

#left-ul {
	left: 0;
	background: white;
	z-index: 1000;
}

#left-ul ul {
	left: -1rem;
}

.container {}

.container header {
	background: white;
}

.logo-sec {
	margin-top: 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem .5rem;
}

.logo-sec .logo {
	color: var(--logo);
	font-weight: 600;
	margin-left: .8rem;
}

.logo span {
	color: var(--logoSec);
}

.logo-sec .bar-sec {
	width: 30px;
	height: 22px;
	margin-right: 2rem;
	display: none;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: .5rem;
	position: relative;
}

.bar-sec * {
	width: 80%;
	height: 2.8px;
	background: var(--expandClr);
	transition: all .5s ease;
	transform-origin: right;
	border-radius: 3px;
	position: absolute;
	right: 0;
}

#bar-1 {
	top: 3px;
}

#bar-2 {
	width: 70%;
	top: calc(50% - 1.4px);
}

#bar-3 {
	width: 40%;
	bottom: 3px;
}

header .menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

}

header .menu .links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links li {
	list-style: none;
	font-size: 12px;
	display: flex;
	margin: 0 .3rem;
	align-items: center;
	justify-content: space-between;
	position: relative;
	color: var(--logo);
}

.links li:hover {
	color: var(--barClr);
}

.arrow::after {
	font-family: 'Material Symbols Rounded';
	content: '\e5cf';
	font-size: 1.4rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: (--logo);

}

.arrow:hover::after {
	content: '\e5ce';
}

li a {
	text-decoration: none;
	color: var(--logo);
}

.links li ul {
	position: absolute;
	border-radius: 8px;
	box-shadow: var(--cardShadow);
	left: 80%;
	top: 110%;
	background: white;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
}

.links li:hover>ul {
	visibility: visible;
	opacity: 1;
}

.links>li ul li {
	padding: .7rem;
	margin: 0;
	transition: all .3s ease;
	width: 100%;
}

li ul li:hover {
	background: #f2f2f2;
}

button {
	border-radius: 3px;
}

.search-sec {
	display: inline-flex;
	margin-left: 0rem;
	align-items: center;
	justify-content: center;
	background: white;
        position:relative;
        overflow-x: hidden;
}

.search-sec * {
	color: var(--logo);
}

.search-sec input {
	width: 180px;
	border: 1px solid var(--logo);
	background: white;
	border-radius: 8px;
	margin-right: .5rem;
	padding: .3rem .5rem;
	outline-color: var(--logo);
	position: absolute;
	right: -250px;
	transition: all .3s ease;
	margin-right: 1rem;
	color: var(--logo);
}

.search-sec input::placeholder {
	color: var(--logo);
}

.search-sec i:hover,
.search-sec i:active {
	color: var(--expandClr);
}

.search-sec i {
	padding: .2rem;
	position: relative;
	z-index: 2;
	font-size: 1rem;
}

.section,
.section-2,
.section-3 {}

.hero-sec {
	width: 95%;
	display: flex;
	justify-content: flex-end;
	background: #fff;
	margin: 0 auto;
	margin-top: -1rem;
	padding: 3rem 1.5rem;
	position: relative;
	box-shadow: var(--cardShadow);
	border-radius: 8px;
}

.hero-txt {
	margin: 0rem 4rem;
	position: absolute;
	width: 40%;
	left: 0rem;
	top: 50%;
	transform: translateY(-50%);
}

.hero-txt h4 {
	font-size: 24px;
	color: var(--logo);
	margin: 1rem 0rem;
}

.hero-txt p {
	font-size: 14px;
	color: var(--menuFontClr);
	margin: .8rem 0rem;
}

.hero-txt .join_us {}

.hero-sec img {
	min-width: 50%;
	float: right;
}

section {
	width: 100%;
	padding: 1rem 0rem 0rem 0rem;
	margin-top: .5rem;
}

.section {
	margin: 0rem;
}

.section>img {
	margin-top: -2rem;
	animation: popUp .4s ease 1;
	animation-delay: .2s;
}

@keyframes popUp {
	0% {
		transform: scale(1);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.join_us button {
	background: none;
	padding: .6rem .9rem;
	outline: none;
	border: none;
	font-weight: 400;
}

#btn_1 {
	background: var(--btnClr);
	color: white;
	margin-right: .5rem;
}

#btn_2 {

	border: 2px solid var(--expandClr);
	color: var(--expandClr);
	padding: .5rem .9rem;
	transition: all .5s ease;
}

#btn_2:hover {
	background: var(--barClr);
	color: white;
}

.section .wrapper {
	display: flex;
	margin: 1rem 0;
	justify-content: center;
}

.section h3 {
	font-size: 26px;
	color: var(--menuFontClr);
	margin: 1rem auto;
	text-align: center;
	position: relative;

	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 1.5rem;

}

.section .wrapper h3::before {
	content: "";
	display: block;
	width: 60%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6px;
	border-radius: 8px;
	background: var(--logo);

}

.section img {
	width: 35%;
}

/* Posts Section */
.main-title {
	position: relative;
	width: 90%;
	background: white;
	border-radius: 8px;
	box-shadow: var(--cardShadow);
	margin: 1rem;
	margin-left: 1.4rem;
	padding: 1rem;
	color: var(--logo);
	font-weight: 400;
	font-size: 1rem;
}

.main-title .postLink {
	position: relative;
	top: -5px;
	margin-left: 1.2rem;
	font-size: .6rem;
}

/* Card Section  */

.card-container {

	width: 100vw;
	padding: 1rem;
}

.card-container .item-container {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 1rem;
}

.item-container .card-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.card-items .card {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	clear: clear-both;
	margin: 1rem;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: var(--cardShadow);
	min-height: auto;
}

.card-img {
	height: 136px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card:hover .card-img img {
	width: 120%;
}

.card .card-img,
.card-img img {
	width: 100%;
	transition: all .3s ease;
}

.card .card-txt {
	padding: 1rem;
}

.card-txt .title {
	font-size: .8rem;
	color: var(--logo);
	font-weight: 500;
}

.card-txt .description {
	font-size: .7rem;
	margin: .5rem;
}

.card .view-btn {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 1rem;
	margin-top: -1rem;
}

.card .view-btn a {
	text-decoration: none;
	background: var(--btnClr);
	color: white;
	font-size: .7rem;
	padding: .3rem .5rem;
	border-radius: 3px;
	display: block;
}

.prevNxtbtn {
	width: 80%;
	padding: .3rem;
	display: flex;
	justify-content: space-between;
	margin: 3rem auto 2rem auto;
	background: white;
	border-radius: 25px;
	box-shadow: var(--cardShadow);
	align-items: center;
}

.prevNxtbtn button,
.user-post-sec button {
	border: none;
	border-radius: 50%;
	background: var(--btnClr);
	color: #ffffff;
	display: flex;
	justify-content: centet;
	align-items: center;
	padding: .5rem;
	box-shadow: var(--cardShadow);
	font-size: 1.7rem;
	text-decoration: none;
}

#postNo {
	height: 100%;
	color: var(--logoSec);
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

/* End */
.section-2,
.section-3,
.section-4 {
	background: #ffffff;
	width: 97%;
	box-shadow: var(--cardShadow);
	margin: 0 auto;
	border-radius: 8px;
}

.section-2 h2 {
	text-align: center;
	color: var(--logo);
	padding: 1rem;
}

.section-2 .post-con {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem;
	align-items: center;
	flex-direction: column;
}

.post-con .post {
	width: 90%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin: 1rem 0;
	background: #ffffff;
	border-radius: 3px;
}

.post img {
	width: 30%;
}

.post .post-txt {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 60%;
	position: relative;
}

.post .post-txt h4 {
	margin-bottom: .5rem;
	color: var(--menuFontClr);
}

.post .post-txt p {}

span.postLink {
	background: var(--btnClr);
	padding: .2rem .3rem;
	border-radius: 3px;
	color: white;
	position: absolute;
	right: 0rem;
	top: 1rem;
	font-size: 8px;
}

.section-3 {
	margin-top: 1rem;
}

.section-3 .user-post-sec {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

.user-post-sec>h3 {
	color: var(--logo);
	font-size: 1.3rem;
}

.user-post-sec .user-sec {
	width: 52%;
	height: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	padding-bottom: 2rem;
	overflow-X: scroll;
	overflow-y: hidden;
	position: relative !important;
}

.user-post-sec button {
	position: absolute;
	margin-top: -.5rem;
	z-index: 1000;
}

#first-slide-btn {
	left: 22%;
}

#second-slide-btn {
	right: 22%;
}

.user-sec .user {
	min-width: 150px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: .5rem;
	margin-right: .7rem;
	padding: 1rem;
	border-radius: 13px;
	box-shadow: var(--cardShadow);
}

.user img {
	width: 70%;
	border-radius: 50%;
}

.user .user-txt {
	padding: .5rem;
}

.user-txt h3 {
	color: var(--logo);
	font-size: .8rem;
}

.section-4 {
	background: var(--logo);
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	padding: 1.5rem;

}

.section-4 .child-sec {
	width: 200px;
	background: white;
	border-radius: 13px;
	padding: .8rem;
}

.child-sec .child-img {
	width: 100%;
}

.child-img img {
	width: 40px;
	border-radius: 50%;
}

.child-sec p {
	color: var(--logo);
	font-size: 12px;
}

.section-4 ul {
	width: 500px;
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

.section-4 li {
	width: 100%;
	list-style: none;
	color: white;
	font-size: 1rem;
	padding: .5rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	color: var(--menuFontClr);
	text-align: center;
}

#second-card-item-con {
	border: 2px solid red;
}
